{include file="Common/top" title="首页" metas='' /}
{if condition="authority('DoctorCreate')"}
<script src="__PUBLIC__/js/multiple-select/multiple-select.js"></script>
<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/Doctor/index">医生信息</a></li>
            <li>新建医生</li>
        </ul>
        <div class="form-wrapper">
            <form class="form-horizontal" method="post" id="new-apply-form">

                <div :class="['form-group', errors.name != '' ? 'has-error' : '']" >
                    <label for="doctor_name" class="col-sm-2 control-label">医生姓名：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="doctor_name" value="" placeholder="请输入姓名" id="doctor_name">
                        <p class="help-block">{{errors.name}}</p>
                    </div>
                </div>

                <div class="form-group {$errors.img ?= 'has-error'}">
                    <label class="col-sm-2 control-label">医生照片：</label>
                    <div class="col-sm-4">
                        <div id="filelist_doctor_photo">
                            <div>{$data.doctor_photo_origin??''}<b></b></div>
                        </div>
                        <br/>
                        <div id="upload_doctor_photo">
                            <a id="pickfiles_doctor_photo" href="javascript:;" style="position: relative;z-index: 1;">选择文件</a>
                            <a id="uploadfiles_doctor_photo" href="javascript:;">上传</a>
                        </div>
                        <input type="hidden" name="doctor_photo" value="{$data.doctor_photo??''}"/>
                        <input type="hidden" name="doctor_photo_origin" value="{$data.doctor_photo_origin??''}"/>
                        <span class="help-block">{$errors.doctor_photo?? ''}</span>
                    </div>
                </div>

                <div :class="['form-group', errors.gender != '' ? 'has-error' : '']" >
                    <label for="hospital_gender" class="col-sm-2 control-label">医生性别：</label>
                    <div class="col-sm-4" id="hospital_gender" >
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="patient_gender1" name="hospital_gender" value="1">
                                <label for="patient_gender1"></label>
                            </div>
                            <div class="inline-block vertical-top">男</div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="patient_gender2" name="hospital_gender" value="2">
                                <label for="patient_gender2"></label>
                            </div>
                            <div class="inline-block vertical-top">女</div>
                        </div>
                        <p class="help-block">{{errors.gender}}</p>
                    </div>

                </div>


                <div :class="['form-group', errors.age != '' ? 'has-error' : '']" >
                    <label for="hospital_age" class="col-sm-2 control-label">年龄：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="hospital_age" value="" placeholder="请输入年龄" id="hospital_age">
                        <p class="help-block">{{errors.age}}</p>
                    </div>
                </div>

                <div :class="['form-group', errors.position != '' ? 'has-error' : '']" >
                    <label for="hospital_position" class="col-sm-2 control-label">职称：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="hospital_position" value="" placeholder="请输入职称" id="hospital_position">
                        <p class="help-block">{{errors.position}}</p>
                    </div>
                </div>

                <div :class="['form-group', errors.phone != '' ? 'has-error' : '']" >
                    <label for="doctor_phone" class="col-sm-2 control-label">联系方式：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="doctor_phone" value="" placeholder="请输入联系方式" id="doctor_phone">
                        <p class="help-block">{{errors.phone}}</p>
                    </div>
                </div>

                <div :class="['form-group', errors.email != '' ? 'has-error' : '']" >
                    <label for="doctor_email" class="col-sm-2 control-label">邮箱：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="doctor_email" value="" placeholder="请输入邮箱" id="doctor_email">
                        <p class="help-block">{{errors.email}}</p>
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="doctor_address" class="col-sm-2 control-label">地址：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="doctor_address" value="" placeholder="请输入地址" id="doctor_address">
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="doctor_info" class="col-sm-2 control-label">邮编：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="doctor_info" value="" placeholder="请输入邮编" id="doctor_info">

                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="doctor_postcode" class="col-sm-2 control-label">详细信息：</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" type="text" name="doctor_postcode" value="" placeholder="请输入详细信息" id="doctor_postcode"></textarea>
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="doctor_honor" class="col-sm-2 control-label">所获荣誉：</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" type="text" name="doctor_honor" value="" placeholder="请输入所获荣誉奖项" id="doctor_honor"></textarea>
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="doctor_remark" class="col-sm-2 control-label">备注：</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" type="text" name="doctor_remark" value="" placeholder="例如自己的诊疗特长" id="doctor_remark"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 lab-btns">
                        <a class="btn btn-success" id="new-apply-form-save" @click="createNewApply">保存</a>
                        <a id="form-cancel" class="btn btn-info">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /main-container -->
{include file="Common/calendar" /}
{include file="Common/popup_warn" /}
{include file="Common/popup_list" /}
{include file="Common/calendar" /}
{include file="Common/bottom" /}
{include file="Common/upload"}
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    $('#consensus-nav-apply').addClass('active');
    $(".flatpickr").flatpickr({time_24hr:true});

    function clickRadio(value)
    {
        if(value == 5){
            vm.seen['ill_type'] = !vm.seen['ill_type'];
        } else{
            vm.seen['ill_type'] = false;
        }
    }



    var vm = new Vue({
        el: '#new-apply-form',
        data: {
            params: {},
            seen:{
                ill_type: false
            },
            errors:{
                'age':'',
                'email':'',
                'name':'',
                'phone':'',
                'position':'',
                'gender':''
            }
        },

        mounted:function () {
            $(".multiple").multipleSelect({
                filter: true,
                multiple: true,
                selectAll: true
            });
            myupload({
                container: 'upload_doctor_photo',
                browse: 'pickfiles_doctor_photo',
                url: '__PRO_PATH__/Media/upload?dir=import',
                img_types: 'jpg,gif,png',
                zip_types: 'zip',
                filelist: 'filelist_doctor_photo',
                uploadfiles: 'uploadfiles_doctor_photo',
                file_size: '10mb',
                onUploaded: function (up, file, result) {
                    $("input[name='doctor_photo_origin']").val(file.name);
                    var res = JSON.parse(result.response);
                    $("input[name='doctor_photo']").val(res.result.file);
                },
                isMulti: false
            });
        },

        methods: {
            createNewApply: function () {
                getParams();
                $.post('__PRO_PATH__/Doctor/create', vm.params, function (res) {
                    if (res.error_code == 0) {
                        $.each(vm.errors, function (k) {
                            vm.errors[k] = '';
                        });
                        popWarn('新建成功');
                        window.location.href = '__PRO_PATH__/Doctor/index';
                    } else if (res.error_code == 2) {
                        $.each(vm.errors, function (k) {
                            vm.errors[k] = '';
                        });
                        $.each(res.errors, function (k, v) {
                            vm.errors[k] = v;
                        });
                        console.log(JSON.stringify(vm.errors));
                    }
                });
            },

        }
    });

    $(".multiple").multipleSelect({
        filter: true,
        multiple: true,
        selectAll: true
    });

    $(function () {
        $("#new-apply-form-target").multipleSelect("checkAll");
    });

    $('#form-cancel').on('click', function(){
        window.location.href = '__PRO_PATH__/Apply/index';
    });

    function getParams(){
        var data = $('#new-apply-form').serializeArray();
        $.each(data, function() {
            vm.params[this.name] = this.value;
        });
        /*$.each(vm.patient, function (k, v) {
         vm.params[k] = v;
         });*/
        console.log(JSON.stringify(data));
        console.log(JSON.stringify(vm.params));
    }
</script>
{else /}
<div class="main-container">
    <div class="padding-md">
        <span class="col-lg-12" style="font-size: larger; text-align: center">
			<strong>抱歉，您访问的页面不存在！</strong>
		</span>
    </div>
</div>
{include file="Common/bottom" /}
{/if}
