{include file="Common/top" title="首页" metas='' /}
{include file="Common/search" /}
<style>
    .params{
        display: inline;
        color: black;
        margin-left: 10px;
        padding: 0 10px 15px 10px;
    }

    .params-active{
        display: inline;
        color: black;
        margin-left: 10px;
        padding: 0 10px 15px 10px;
        border-bottom: 5px green solid;
    }
</style>
<div class="main-container" id="analysisTrend">
    <div class="padding-md" style="overflow: auto">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li><a href="__PRO_PATH__/DataAnalysis/index">舆情分析</a></li>
            <li>趋势分析</li>
        </ul>

        <div class="list-search">
            <div>
                <a href="javascript:;" @click="changeSection(0)" :class="active.type == 0 ? 'params-active' : 'params'">舆情趋势</a>
                <a href="javascript:;" @click="changeSection(1)" :class="active.type == 1 ? 'params-active' : 'params'">媒体趋势</a>
            </div>
            <hr/>

            <form class="form-inline" id="main-form">
                <div class="form-group">
                    <label for="dateTimeRange">时间范围：</label>
                    <input type="text" class="form-control date-picker" id="dateTimeRange" value="" style="width: 190px"/>
                    <input type="hidden" name="begintime_str" id="begintime_str" :value="begintime_str"/>
                    <input type="hidden" name="endtime_str" id="endtime_str" :value="endtime_str"/>
                </div>
            </form>
        </div>

        <div :style="{display: active.type == 0 ? 'inline' : 'none'}">
            <div id="publicTrend_line_chart" style="height: 400px; width: 100%;"></div>
            <table class="table"></table>
        </div>
        <div :style="{display: active.type == 1 ? 'inline' : 'none'}">
            <div id="mediaTrend_line_chart" style="height: 400px; width: 100%;"></div>
        </div>
    </div>
</div><!-- /main-container -->
{include file="Common/popup_warn" /}
{include file="Common/popup_list" /}
{include file="Common/popup_verify" /}
{include file="Common/calendar" /}
{include file="Common/bottom" /}
<script src="__PUBLIC__/js/datapicker/daterangepicker.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
    $('#consensus-nav-data-analysis').addClass('active open');
    $('#consensus-nav-data-analysis-sub1').addClass('active');
    // 时间选择器
    $(function () {
        $('#dateTimeRange')
                .daterangepicker({
                    applyClass: 'btn-sm btn-success',
                    cancelClass: 'btn-sm btn-default',
                    locale: {
                        applyLabel: '确认',
                        cancelLabel: '取消',
                        fromLabel: '起始时间',
                        toLabel: '结束时间',
                        customRangeLabel: '自定义',
                        daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                        firstDay: 1
                    },
                    ranges: {
                        '全部': [0, moment()],
                        '今日': [moment().startOf('day'), moment()],
                        '昨日': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                        '最近7日': [moment().subtract(6, 'days'), moment()],
                        '最近30日': [moment().subtract(29, 'days'), moment()]
                        // '本月': [moment().startOf("month"), moment().endOf("month")],
                        // '上个月': [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")],
                        // '最近90日': [moment().subtract('days', 89), moment()],
                        // '本季度': [moment().startOf("quarter"), moment()],
                        // '上个季度': [moment().subtract(1, "quarter").startOf("quarter"), moment().subtract(1, "quarter").endOf("quarter")],
                        // '今年': [moment().startOf("year"), moment()],
                        // '去年': [moment().subtract(1, "year").startOf("year"), moment().subtract(1, "year").endOf("year")]
                    },
                    opens: 'right',             // 日期选择框的弹出位置
                    separator: ' 至 ',
                    showWeekNumbers: true,      // 是否显示第几周

                    //timePicker: true,
                    //timePickerIncrement : 10, // 时间的增量，单位为分钟
                    //timePicker12Hour : false, // 是否使用12小时制来显示时间

                    maxDate: moment(),           // 最大时间
                    format: 'YYYY-MM-DD',

                    startDate: moment().subtract(6, 'days'),
                    endDate: moment(),

                }, function (start, end, label) { // 格式化日期显示框
                    $('#begintime_str').val(start.format('YYYY-MM-DD'));
                    $('#endtime_str').val(end.format('YYYY-MM-DD'));
                    submit();
                }).next().on('click', function () {
            $(this).prev().focus();
        });
    });

    // 初始化vue
    var vm = new Vue({
        el: '#analysisTrend',
        data: {
            task_id: {$params['task_id']},
            params: {},
            trend: [],
            begintime_str: moment().subtract(6, 'days').format('YYYY-MM-DD'),
            endtime_str: moment().format('YYYY-MM-DD'),
            active:{
                type: 0
            }
        },
        methods:{
            changeSection: function (value) {
                this.active['type'] = value;
                getParams();
                this.showTrendLine();
            },
            showTrendLine: function () {
                vm.params['obj'] = vm.active['type'] == 0 ? 'public' : 'media';
                var dom = (vm.params['obj'] == 'public' ? 'publicTrend_line_chart' : 'mediaTrend_line_chart');
                var chartDom = document.getElementById(dom);
                var myChart = echarts.getInstanceByDom(chartDom) || echarts.init(chartDom);
                myChart.showLoading();
                $.post('__PRO_PATH__/DataAnalysis/getTrendLine', vm.params, function (res) {
                    if(res.errorcode==0){
                        vm.trend = res.data;
                        vm.task_id = res.task_id;
                        var xAixs = res.xAixs;
                        var option = {};
                        var legend = [];
                        var data = [];
                        switch(vm.params['obj']){
                            case 'public':{
                                for(var i=0;i<vm.trend.length;i++){
                                    var type = vm.trend[i]['type'];
                                    var d = vm.trend[i]['data'];
                                    legend.push(type);
                                    if(i == vm.trend-1){
                                        data.push({
                                            name: type,
                                            type:'line',
                                            yAxisIndex: 1,
                                            data: d,
                                            smooth: true,
                                        });
                                    } else {
                                        data.push({
                                            name: type,
                                            type:'line',
                                            data: d,
                                            smooth: true,
                                        });
                                    }
                                }
                                option = {
                                    backgroundColor: '#fff',
                                    tooltip : {
                                        trigger: 'axis',
                                        axisPointer: {
                                            type: 'cross',
                                            label: {
                                                backgroundColor: '#6a7985'
                                            }
                                        },
                                        formatter: '{a0}: {c0}<br />{a1}: {c1}%'
                                    },
                                    legend: {
                                        data: legend
                                    },
                                    xAxis: [
                                        {
                                            type : 'category',
                                            boundaryGap : false,
                                            data: xAixs,
                                            axisPointer: {
                                                type: 'shadow'
                                            }
                                        }
                                    ],
                                    yAxis: [
                                        {
                                            type: 'value',
                                            name: '舆情数量',
                                            axisLabel: {
                                                formatter: '{value}'
                                            }
                                        },
                                        {
                                            type: 'value',
                                            name: '健康度',
                                            min: 0,
                                            max: 100,
                                            interval: 50,
                                            axisLabel: {
                                                formatter: '{value} %'
                                            }
                                        }
                                    ],
                                    series: data
                                };
                                break;
                            }
                            case 'media':{
                                for(var i=0;i<vm.trend.length;i++){
                                    var type = vm.trend[i]['media_type'];
                                    var d = vm.trend[i]['data'];
                                    legend.push(type);
                                    if(i == vm.trend-1){
                                        data.push({
                                            name: type,
                                            type:'line',
                                            stack: '总量',
                                            label: {
                                                normal: {
                                                    show: true,
                                                    position: 'top'
                                                }
                                            },
                                            areaStyle: {normal: {}},
                                            data: d,
                                            smooth: true,
                                        });
                                    } else {
                                        data.push({
                                            name: type,
                                            type:'line',
                                            stack: '总量',
                                            areaStyle: {normal: {}},
                                            data: d,
                                            smooth: true,
                                        });
                                    }
                                }
                                option = {
                                    backgroundColor: '#fff',
                                    tooltip : {
                                        trigger: 'axis',
                                        axisPointer: {
                                            type: 'cross',
                                            label: {
                                                backgroundColor: '#6a7985'
                                            }
                                        }
                                    },
                                    legend: {
                                        data: legend
                                    },
                                    xAxis : [
                                        {
                                            type : 'category',
                                            boundaryGap : false,
                                            data: xAixs,
                                            axisPointer: {
                                                type: 'shadow'
                                            }
                                        }
                                    ],
                                    yAxis : [
                                        {
                                            type : 'value'
                                        }
                                    ],
                                    series : data
                                };
                                break;
                            }
                        }

                        myChart.hideLoading();
                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                        //用于使chart自适应高度和宽度
                        window.onresize = myChart.resize();
                    }
                });
            },
        },
        filters:{

        }
    });

    if(getTaskList()){
        submit();
    }

    // 异步提交数据
    function submit() {
        getParams();
        vm.showTrendLine();
    }

    // 获取参数
    function getParams() {
        var data = $('#main-form').serializeArray();
        $.each(data, function () {
            vm.params[this.name] = this.value;
        });
        vm.params['task_id'] = vm.task_id;
        console.log(JSON.stringify(vm.params));
    }
</script>