{include file="Common/top" title="首页" metas='' /}

{if condition="authority('HospitalEdit')"}
<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/Hospital/index">医院信息</a></li>
            <li>编辑信息</li>
        </ul>
    </div>
</div>



{include file="Common/bottom" /}
{/if}
