{include file="Common/top" title="首页" metas='' /}
{if condition="authority('ChannelEdit')"}
<style>
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 8px;
        text-align: center;
        line-height: 1.42857143;
        vertical-align: middle;
        border:1.0pt solid black;
        width: 10%;
        color: black;
        font-weight: 500;
    }
    .form-group {
        margin-bottom: 0;
    }
</style>
<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li><a href="__PRO_PATH__/Apply/channel">绿色通道</a></li>
            <li>编辑申请</li>
        </ul>

        <div class="col-lg-12" style="background-color: #FFF; padding: 30px 10px" id="apply-edit">
            <a class="btn btn-info" style="margin: 5px 0" href="__PRO_PATH__/Apply/channel">返回</a>
            <form  method="post" id="new-apply-form">
                <table class="table" style="width: auto;">
                    <tr>
                        <td colspan="9" style="font-weight: 900; font-size: large; color: #8B6420;">眼科医联体远程诊疗平台会诊单</td>
                    </tr>
                    <tr>
                        <td>会诊类型</td>
                        <td colspan="3">
                            {{apply_info.apply_type | getApplyType}}
                        </td>

                        <td>会诊医院</td>
                        <td colspan="4">
                            {{target_hospital_info.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>会诊科室</td>
                        <td colspan="2">
                            <template v-for="model in target_office_info">
                                {{model.name}}&nbsp;&nbsp;
                            </template>
                        </td>

                        <td>会诊医生</td>
                        <td colspan="2">
                            <template v-for="model in target_doctor_info">
                                {{model.name}}&nbsp;&nbsp;
                            </template>
                        </td>

                        <td>预约日期</td>
                        <td colspan="2">
                            {{apply_info.apply_date | moment('yyyy年M月d日 hh:mm', apply_info.apply_date)}}
                        </td>

                    </tr>
                    <tr>
                        <td colspan="9" rowspan="2" style="font-size: medium; font-weight: bold; text-align: left">申请信息</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>申请单位</td>
                        <td colspan="5">
                            {{source_hospital_info.name}}
                        </td>
                        <td>申请人</td>
                        <td colspan="2">
                            {{source_doctor_info.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>申请类型</td>
                        <td colspan="2">
                            {{apply_info.apply_type | getApplyProject}}
                        </td>

                        <td>联系电话</td>
                        <td colspan="2">
                            {{source_doctor_info.phone}}
                        </td>
                        <td>填表日期</td>
                        <td colspan="2">
                            {{apply_info.create_time | moment}}
                        </td>
                    </tr>

                    <tr>
                        <td colspan="9" rowspan="2" style="font-size: medium; font-weight: bold; text-align: left">患者信息</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>身份证号</td>
                        <td colspan="3">
                            <div :class="['form-group', errors.ID_number != '' ? 'has-error' : '']" >
                                <div class="col-sm-9">
                                    {{patient.ID_number}}
                                </div>
                            </div>
                        </td>
                        <td>姓名</td>
                        <td colspan="2">
                            <div :class="['form-group', errors.name != '' ? 'has-error' : '']" >
                                {{patient.name}}
                            </div>
                        </td>
                        <td>性别</td>
                        <td>
                            <div :class="['form-group', errors.gender != '' ? 'has-error' : '']" >
                                {{patient.gender | getGender}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>年龄</td>
                        <td>{{patient.age}}</td>

                        <td>联系方式</td>
                        <td colspan="2" >
                            {{patient.phone}}
                        </td>

                        <td>附件上传</td>
                        <td colspan="3">
                            <div class="['form-group', errors.files_path != '' ? 'has-error' : '']" >
                                <div id="filelist">
                                    <div>
                                        <a :href="patient.files_path" :title="patient.files_path_origin" target="_blank">
                                            {{patient.files_path_origin}}
                                        </a>
                                    </div>
                                </div>
                                <div id="upload_file_path">
                                    <a id="pickfiles" href="javascript:;">选择文件</a>
                                    <a id="uploadfiles" href="javascript:;">上传</a>
                                </div>
                                <br/>
                                <input type="hidden" name="files_path"/>
                                <input type="hidden" name="files_path_origin"/>
                                <span class="help-block">{{errors.files_path}}</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="9" rowspan="2" style="font-size: medium; font-weight: bold; text-align: left">简要病情</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>眼病类型</td>
                        <td colspan="2" style="text-align: left; height: auto;">
                            <select v-model="patient.ill_type" class="form-control" onchange="change_eyes_ill_type(this.value)" id="ill_type">
                                <option value="" selected>--请选择--</option>
                                <option value="1">眼表</option>
                                <option value="2">眼前节</option>
                                <option value="3">眼底</option>
                                <option value="4">视光</option>
                                <option value="5">其他</option>
                            </select>

                            <div :class="['form-group', errors.other_ill_type != '' ? 'has-error' : '']" v-if="seen.ill_type">
                                <input class="form-control" type="text" v-model="patient.other_ill_type" value="" placeholder="请输入其他眼病类型" id="other_ill_type">
                            </div>
                        </td>

                        <td>眼压(左/右)</td>
                        <td>
                            <input class="form-control" type="text" v-model="patient.pressure_left"  value="" placeholder="左眼眼压" id="pressure_left">
                        </td>
                        <td>
                            <input class="form-control" type="text"  v-model="patient.pressure_right" value="" placeholder="右眼眼压" id="pressure_right">
                        </td>

                        <td>视力(左/右)</td>
                        <td>
                            <input class="form-control"  type="text" v-model="patient.vision_left"    value="" placeholder="左眼视力" id="vision_left">
                        </td>
                        <td>
                            <input class="form-control"  type="text" v-model="patient.vision_right"   value="" placeholder="右眼视力" id="vision_right">
                        </td>
                    </tr>
                    <tr></tr>

                    <tr>
                        <td rowspan="2">辅助检查(图)</td>
                        <td colspan="2" rowspan="4">
                            <div :class="['form-group', errors.exam_img != '' ? 'has-error' : '']" >
                                <a :href="patient.exam_img" title="patient.exam_img_origin" data-lighter>
                                    <img id="exam_img" :src="patient.exam_img" :title="patient.exam_img_origin">
                                </a>

                                <br/>
                                <div id="upload_exam_img">
                                    <a id="pickfiles_exam_img" href="javascript:;" style="position: relative;z-index: 1;">
                                        <i class="fa fa-camera fa-lg"></i>
                                    </a>
                                </div>
                                <span class="help-block">{{errors.files_path}}</span>
                            </div>
                        </td>

                        <td rowspan="4">局部病变图(左眼)</td>
                        <td colspan="2" rowspan="4">
                            <div :class="['form-group', errors.eye_photo_left != '' ? 'has-error' : '']" >
                                <a :href="patient.eye_photo_left" title="patient.eye_photo_left_origin" data-lighter>
                                    <img id="eye_photo_left" :src="patient.eye_photo_left" :title="patient.eye_photo_left_origin">
                                </a>
                                <br/>
                                <div id="upload_left_eye">
                                    <a id="pickfiles_left_eye" href="javascript:;" style="position: relative;z-index: 1;">
                                        <i class="fa fa-camera fa-lg"></i>
                                    </a>
                                </div>
                                <span class="help-block">{{errors.eye_photo_left}}</span>
                            </div>
                        </td>
                        <td rowspan="4">局部病变图(右眼)</td>
                        <td colspan="2" rowspan="4">
                            <div :class="['form-group', errors.eye_photo_right != '' ? 'has-error' : '']" >
                                <a :href="patient.eye_photo_right" title="patient.eye_photo_right_origin" data-lighter>
                                    <img id="eye_photo_right" :src="patient.eye_photo_right" :title="patient.eye_photo_right_origin">
                                </a>
                                <br/>
                                <div id="upload_right_eye">
                                    <a id="pickfiles_right_eye" href="javascript:;" style="position: relative;z-index: 1;">
                                        <i class="fa fa-camera fa-lg"></i>
                                    </a>
                                </div>
                                <span class="help-block">{{errors.eye_photo_right}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td colspan="9" style="text-align: left; height: auto;">
                            <div :class="['form-group', errors.ill_state != '' ? 'has-error' : '']" >
                                <textarea  class="form-control" type="text" v-model="patient.ill_state" style="height: 80px" id="patient_illness_state" placeholder="请输入患者简要病情"></textarea>
                                <p class="help-block">{{errors.ill_state}}</p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="9" rowspan="2" style="font-size: medium; font-weight: bold; text-align: left">诊疗情况：</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td colspan="9" style="text-align: left; height: auto;">
                            <div :class="['form-group', errors.diagnose_state != '' ? 'has-error' : '']" >
                                <textarea  class="form-control" type="text" v-model="patient.diagnose_state" style="height: 80px" id="diagnose_state" placeholder="请输入诊疗情况"></textarea>
                                <p class="help-block">{{errors.diagnose_state}}</p>
                            </div>
                        </td>
                    </tr>
                    <tr></tr>

                    <tr>
                        <td colspan="9" rowspan="2" style="font-size: medium; font-weight: bold; text-align: left">会诊要求及目的</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td colspan="9" style="text-align: left; height: auto;">
                            <div :class="['form-group', errors.consultation_goal != '' ? 'has-error' : '']" >
                                <textarea  class="form-control" type="text" v-model="params.consultation_goal" style="height: 80px" id="consultation_goal" placeholder="请输入会诊要求及目的"></textarea>
                                <p class="help-block">{{errors.consultation_goal}}</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
            <br>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-10 lab-btns">
                    <div class="col-sm-4">
                        <a class="btn btn-success" id="new-apply-form-save" @click="saveEdit">保存</a>
                        <a id="form-cancel" class="btn btn-info"  href="__PRO_PATH__/Apply/channel">取消</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /main-container -->
{include file="Common/progress"}
{include file="Common/bottom" /}
{include file="Common/calendar" /}
{include file="Common/popup_warn" /}
{include file="Common/popup_list" /}
{include file="Common/calendar" /}
{include file="Common/upload"}
<script src="__PUBLIC__/js/datapicker/daterangepicker.js"></script>
<script>
    $('#consultation-nav-channel').addClass('active');

    var vm = new Vue({
        el: '#apply-edit',
        data: {
            id: '{$id}',
            apply_info: {},
            source_hospital_info: {},
            source_doctor_info: {},
            target_hospital_info: {},
            target_office_info: [],
            target_doctor_info: [],
            reply: {
                status: '',
                consultation_result: '',
                update_time_str: '',
                price: 0
            },
            errors:{
                doctor_phone:'',
                ID_number:'',
                name:'',
                age:'',
                gender:'',
                ill_state:'',
                ill_type:'',
                other_ill_type:'',
                apply_project:'',
                other_apply_project: '',
                phone:'',
                apply_date:'',
                target_office_id:'',
                consultation_goal:'',
                diagnose_state: ''
            },
            params: {
                consultation_goal: ''
            },
            patient:{
                id: '',
                ID_number: '',
                name: '',
                gender:'',
                age:'',
                phone:'',
                ill_type:'',
                other_ill_type:'',
                vision_left:'',
                vision_right:'',
                pressure_left:'',
                pressure_right:'',
                exam_img: '',
                exam_img_origin: '',
                eye_photo_left: '',
                eye_photo_left_origin: '',
                eye_photo_right: '',
                eye_photo_right_origin: '',
                files_path: '',
                files_path_origin: '',
                ill_state:'',
                diagnose_state: ''
            },
            seen:{
                ill_type: false,
                apply_project:false
            }
        },
        mounted:function () {
            $(function () {
                submit();
            });

            $(".flatpickr").flatpickr({
                time_24hr:true,
                readonly: false
            });

            myupload({
                container: 'upload_file_path',
                browse: 'pickfiles',
                url: '__PRO_PATH__/Media/upload?dir=member',
                img_types: 'jpg,gif,png',
                zip_types: 'zip',
                filelist: 'filelist',
                uploadfiles: 'uploadfiles',
                file_size: '10mb',
                onUploaded: function (up, file, result) {
                    var res = JSON.parse(result.response);
                    vm.patient['files_path'] = res.result.file;
                    vm.patient['files_path_origin'] = file.name;
                },
                isMulti: false
            });
            changeLogo({
                container: 'upload_exam_img',
                browse: 'pickfiles_exam_img',
                url: '__PRO_PATH__/Media/upload?dir=import',
                img_types: 'jpg,gif,png',
                zip_types: 'zip',
                file_size: '10mb',
                onUploaded: function (up, file, result) {
                    var res = JSON.parse(result.response);
                    vm.patient['exam_img'] = res.result.file;
                    vm.patient['exam_img_origin'] = file.name;
                    chageTitle('上传成功');
                    setTimeout("cancel()", 1000);
                },
                isMulti: false
            });
            changeLogo({
                container: 'upload_left_eye',
                browse: 'pickfiles_left_eye',
                url: '__PRO_PATH__/Media/upload?dir=import',
                img_types: 'jpg,gif,png',
                zip_types: 'zip',
                file_size: '10mb',
                onUploaded: function (up, file, result) {
                    var res = JSON.parse(result.response);
                    vm.patient['eye_photo_left'] = res.result.file;
                    vm.patient['eye_photo_left_origin'] = file.name;
                    chageTitle('上传成功');
                    setTimeout("cancel()", 1000);
                },
                isMulti: false
            });
            changeLogo({
                container: 'upload_right_eye',
                browse: 'pickfiles_right_eye',
                url: '__PRO_PATH__/Media/upload?dir=import',
                img_types: 'jpg,gif,png',
                zip_types: 'zip',
                file_size: '10mb',
                onUploaded: function (up, file, result) {
                    var res = JSON.parse(result.response);
                    vm.patient['eye_photo_right'] = res.result.file;
                    vm.patient['eye_photo_right_origin'] = file.name;
                    chageTitle('上传成功');
                    setTimeout("cancel()", 1000);
                },
                isMulti: false
            });
        },
        methods:{
            resetError: function () {
                $.each(vm.errors, function (k, v) {
                    vm.errors[k] = '';
                });
            },

            saveEdit: function () {
                getParams();
                $.post('__PRO_PATH__/Apply/Edit', vm.params, function (res) {
                    if (res.error_code == 0) {
                        $.each(vm.errors, function (k) {
                            vm.errors[k] = '';
                        });
                        popWarn(res.msg, '__PRO_PATH__/Apply/channel');
                    } else if (res.error_code == 1) {
                        $.each(vm.errors, function (k) {
                            vm.errors[k] = '';
                        });
                        $.each(res.errors, function (k, v) {
                            vm.errors[k] = v;
                        });
                        console.log(JSON.stringify(vm.errors));
                    }
                });
            }
        },
        filters:{
            moment: function (value, formatString) {
                formatString = formatString || 'yyyy年M月d日';
                var time=new Date(parseInt(value) * 1000).format(formatString);
                return time;
            },
            getApplyStatus: function (value) {
                var ret = "";
                if(value==1){
                    ret = "待处理";
                }
                if(value==2){
                    ret = "处理中";
                }
                if(value==3){
                    ret = "会诊成功";
                }
                if(value==4){
                    ret = "会诊失败";
                }
                return ret;
            },
            getApplyType: function (value) {
                var ret = '';
                if(value == 1){
                    ret = '一般';
                }
                if(value == 2){
                    ret = '紧急';
                }
                return ret;
            },
            getApplyProject: function (value) {
                var ret = '';
                if(value == 1){
                    ret = '咨询';
                }
                else if(value == 2){
                    ret = '住院';
                }
                else if(value == 3){
                    ret = '手术';
                }
                return ret;
            },
            getChargeStatus: function (value) {
                var ret = '';
                if(value == 0){
                    ret = '未缴费';
                }
                if(value == 1){
                    ret = '已缴费';
                }
                return ret;
            },
            getGender : function (value) {
                var ret = '';
                if(value == 1){
                    ret = '男';
                }
                if(value == 2){
                    ret = '女';
                }
                return ret;
            },
            formatText: function (text, len) {
                return cutString(text, len);
            }
        }
    });

    function change_eyes_ill_type(value) {
        if(value == 5){
            vm.seen['ill_type'] = !vm.seen['ill_type'];
        } else{
            vm.seen['ill_type'] = false;
        }
    }

    function getParams(){
        vm.params['patient'] = {};
        $.each(vm.patient, function (k, v) {
            vm.params['patient'][k] = v;
        });
        console.log(JSON.stringify(vm.params));
    }

    // 异步提交数据
    function submit() {
        $.post('__PRO_PATH__/Apply/getApplyInfo', {id: vm.id}, function (res) {
            if (res.error_code == 0) {
                vm.apply_info = res.apply_info;
                vm.patient = res.patient_info;
                vm.params['consultation_goal'] = vm.apply_info['consultation_goal'];
                vm.params['id'] = vm.apply_info['id'];
                vm.source_doctor_info = res.source_doctor_info;
                vm.source_hospital_info = res.source_hospital_info;
                vm.target_hospital_info = res.target_hospital_info;
                vm.target_office_info = res.target_office_info;
                vm.target_doctor_info = res.target_doctor_info;
                vm.seen.ill_type = vm.patient['ill_type'] == 5;
                vm.resetError();
            }
        });
    }
</script>
{else /}
<div class="main-container">
    <div class="padding-md">
        <span class="col-lg-12" style="font-size: larger; text-align: center">
			<strong>抱歉，您访问的页面不存在！</strong>
		</span>
    </div>
</div>
{include file="Common/bottom" /}
{/if}
