{include file="Common/top" title="首页" metas='' /}
{include file="Common/search" /}

<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li><a href="__PRO_PATH__/Apply/index">会诊申请</a></li>
            <li>申请详情</li>
        </ul>
        <table class="table table-bordered" style="background-color: #fff;">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="2">1</td>
                <td>Karen</td>
                <td>Martin</td>
                <td>@karen</td>
            </tr>
            <tr>
                <td>Elizabeth</td>
                <td>Carter</td>
                <td>@carter</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jame</td>
                <td>Smith</td>
                <td>@jame</td>
            </tr>
            <tr>
                <td>3</td>
                <td colspan="2">Christopher</td>
                <td>@brown</td>
            </tr>
            </tbody>
        </table>
    </div>
</div><!-- /main-container -->
{include file="Common/bottom" /}
{include file="Common/popup_list" /}
{include file="Common/calendar" /}
<script src="__PUBLIC__/js/datapicker/daterangepicker.js"></script>
<script>
    $('#consultation-nav-apply').addClass('active');
    $(".flatpickr").flatpickr({time_24hr:false});
    var vm = new Vue({
        el: '#apply',
        data: {
            list: [],
            params: {},
            check_all: false,
            select: [],
            total: 0,
            per_page: 10,
            current_page: 1,
            pages: 1,
            fore_omit: false,
            back_omit: false,
            fore_pages: [],
            mid_pages: [],
            back_pages: [],
            side: 3,
            window: 6
        },
        updated: function () {
            this.fore_pages = [];
            this.mid_pages = [];
            this.back_pages = [];
            if(this.pages < this.window + 6){
                this.fore_omit = false;
                this.back_omit = false;
                for(var i=1; i<=this.pages; i++){
                    this.fore_pages.push(i);
                }
            }
            else if(this.current_page <= this.window){
                this.fore_omit = false;
                this.back_omit = true;
                for(var i=1; i<= this.window + 2; i++){
                    this.fore_pages.push(i);
                }
                this.back_pages = [this.pages - 1, this.pages];
            }
            else if(this.current_page > this.pages - this.window){
                this.fore_omit = true;
                this.back_omit = false;
                for(var i=this.pages-(this.window+2); i<= this.pages; i++){
                    this.back_pages.push(i);
                }
                this.fore_pages = [1, 2];
            }
            else{
                this.fore_omit = true;
                this.back_omit = true;
                this.fore_pages = [1, 2];
                for(var i=parseInt(this.current_page) - parseInt(this.side);
                    i <= parseInt(this.current_page) + parseInt(this.side); i++){
                    this.mid_pages.push(i);
                }
                this.back_pages = [this.pages - 1, this.pages];
            }
        },
        methods:{
            resetParams: function () {
                this.select = [];
                this.check_all = false;
            },
            // 转到某页
            gotoPage: function (page) {
                if(page == this.current_page) return;
                this.current_page = page;
                submit();
            },
            selectClick: function (id) {
                if(this.select.indexOf(id) == -1){
                    this.select.push(id);
                }
                else{
                    this.select.remove(id);
                }
                if(this.list.length == this.select.length){
                    this.check_all = true;
                } else {
                    this.check_all = false;
                }
            },
            checkAll: function () {
                if(!this.check_all){
                    for(var i=0;i<this.list.length;i++){
                        var id = this.list[i]['id'];
                        if(this.select.indexOf(id) == -1){
                            this.select.push(id);
                        }
                    }
                } else {
                    this.select = [];
                }
                this.check_all = !this.check_all;
            },

            create: function () {
                window.location.href = '__PRO_PATH__/Apply/create';
            },

            remove: function (id) {
                var ids = [];
                if(id.length==0){
                    ids = this.select;
                }
                else{
                    if(this.select.indexOf(id[0]) == -1){
                        this.select.push(id[0]);
                    }
                    ids = id;
                }
                this.select = ids;
                // 删除
                popupList({
                    remove: '__PRO_PATH__/Apply/remove',
                    ids: vm.select
                }, function () {
                    submit();
                });
                $('#confirm-popup').popup('show');
            }
        },
        filters:{
            moment: function (value, formatString) {
                formatString = formatString || 'YYYY-MM-DD HH:mm';
                var time=new Date(parseInt(value) * 1000).format('yyyy年M月d日');
                return time;
            },
            getApplyStatus: function (value) {
                var ret = "";
                if(value==1){
                    ret = "待处理";
                }
                if(value==2){
                    ret = "处理中";
                }
                if(value==3){
                    ret = "会诊成功";
                }
                if(value==4){
                    ret = "会诊失败";
                }
                return ret;
            },
            getApplyType: function (value) {
                var ret = '';
                if(value == 1){
                    ret = '一般';
                }
                if(value == 2){
                    ret = '紧急';
                }
                return ret;
            },
            getApplyProject: function (value) {
                var ret = '';
                if(value == 1){
                    ret = '咨询';
                }
                else if(value == 2){
                    ret = '住院';
                }
                else if(value == 3){
                    ret = '手术';
                }
                return ret;
            },
            getChargeStatus: function (value) {
                var ret = '';
                if(value == 0){
                    ret = '未缴费';
                }
                if(value == 1){
                    ret = '已缴费';
                }
                return ret;
            },
            formatText: function (text, len) {
                return cutString(text, len);
            }
        }
    });

    //submit();

    // 异步提交数据
    function submit() {
        getParams();
        vm.resetParams();
        $.post('__PRO_PATH__/Apply/getApplyList', vm.params, function (res) {
            if (res.error_code == 0) {
                vm.total = res.total;
                vm.pages = Math.ceil(res.total / vm.per_page);
                vm.current_page = res.current_page;
                vm.list = res.data;
                console.log(JSON.stringify(vm.list));
            }
        });
    }

    // 获取参数设置
    function getParams() {
        var data = $('#main-form').serializeArray();
        $.each(data, function () {
            vm.params[this.name] = this.value;
        });
        vm.params['per_page'] = vm.per_page;
        vm.params['current_page'] = vm.current_page;
    }

</script>